.main-container{
    display: flex;
    /* ni idea */
}
.question{
    padding: 25px;
}
.question-unanswered{
    background-color: rgb(190, 190, 190);
}
.question-right{
    background-color: rgb(100, 224, 75);
}
.question-wrong{
    background-color: rgb(201, 50, 50);
}
