body{
    background: linear-gradient(90deg, rgb(190, 80, 80) 0%, rgb(80, 80, 190) 100%);
    background-color: rgb(190, 0, 0);
    font-family: "Nova Square", sans-serif;
}
.menu{
    margin: auto;
    display: flex;
    font-size: min(1rem, 5vw);
    flex-direction: column;
    max-width: min(100vw, 40rem);
    align-items: center;
}
.menu__info{
    text-indent: 1rem;
    text-align: justify;
}
.menu__title{
    text-indent: -1rem;
    font-size: min(8rem, 18vw);
    text-shadow: rgb(75, 35, 99) min(5px, 1.5vw) min(5px, 1.5vw) 5px;
    transform: scaleY(1.5);
    transform: rotateY(205deg);
    transform: rotateZ(-16deg);
    margin: min(10rem, 20vw) auto;
    text-align: center;
    color: rgb(0, 0, 190);
}
.menu__title--red{
    color: rgb(190, 0, 0);
}
.menu__info-text{
    padding: min(1rem, 3vw);
    border: 1px solid black;
    background-color: blueviolet;
    color: white;
}
.menu__button{
    font-family: "Nova Square", sans-serif;
    background-color: blueviolet;
    color: white;
    font-size: min(0.8rem, 5vw);
    margin: auto;
    max-width: fit-content;
    padding: 1vw;
    cursor: pointer;
}
.menu--hidden{
    display: none;
}
.board-hub{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min(100vw, 40rem);
}
.turn{
    font-size: min(1.7rem, 7vw);
    margin: min(1rem, 3vw);
    font-weight: bold;
}
.turn__indicator{
    text-transform: uppercase;
}
.turn__indicator--red{
    color: red;
}
.turn__indicator--blue{
    color: blue;
}
.exit{
    font-family: "Nova Square", sans-serif;
    background-color: blueviolet;
    color: white;
    font-size: min(1.2rem, 10vw);
    width: min(18rem, 30vw);
    min-width: fit-content;
    padding: 1vw;
    letter-spacing: min(0.5rem, 1vw);
    margin: min(1rem, 3vw);
    margin-bottom: min(2rem, 6vw);
    cursor: pointer;
}
.board-hub--hidden{
    display: none;
}
.board{
    outline: blueviolet 1px solid;
    outline-offset: 3px;
    margin: auto;
    max-width: fit-content;
    width: min(100vw, 40rem);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 0.2rem;
}
.board__square{
    background-color: rgb(238, 196, 162);
    width: min(12.1vw, 4.8rem);
    height: min(12.1vw, 4.8rem);
}
.board__control-square{
    cursor: pointer;
    /*dibujar flecha*/
}
.board__control-square:hover{
    width: 0;
    height: 0;
    border-left: min(6vw, 2.4rem) solid transparent;
    border-right: min(6vw, 2.4rem) solid transparent;
    border-top: min(12.1vw, 4.8rem) solid rgba(255, 100, 0, 0.75);
}
.board__playable-square{
    background-color: rgb(162, 209, 209);
}
.board__token{
    width: min(12.1vw, 4.8rem);
    height: min(12.1vw, 4.8rem);
    border-radius: 50%;
    margin: auto;
}
.board__token--red{
    background-color: rgba(255, 0, 0, 0.75);
}
.board__token--blue{
    background-color: rgba(0, 0, 255, 0.75);
}
.board--waiting{
    cursor: wait;
}
.board--hidden{
    display: none;
}